body {
  font-family: "Helvetica Now Display", sans-serif;
}
/* Heritage By Aayra */
.Heritage_BG {
  background-image: url(assets/Heritage_by_aayra/Heritage_Background.png);
}

.Heritage_heading {
  background: linear-gradient(
    to top,
    #d29a15 -60.17%,
    #ce9814 20.72%,
    #fde873 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}

/* Swiper for Heritage */
.swiper_heritage .swiper-slide {
  filter: blur(5px); /* Blur all slides */
  transition: filter 0.5s ease;
}
.swiper_heritage .swiper-slide-active {
  filter: blur(0); /* Remove blur from the center slide */
}

.swiper_heritage .swiper-slide img {
  transform: scale(0.7);
}

.swiper_heritage .swiper-slide-active img {
  transform: scale(1);
}

.heritage_text_hover {
  display: none;
}

.swiper_heritage .swiper-slide-active .heritage_text_hover {
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0; /* Initially hidden */
  /* Slightly pushed down */
  transition: all 0.5s ease-in-out;
}

.swiper_heritage .swiper-slide-active .heritage_text_hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(#e48320, #fbb818); /* Background color */
  opacity: 0.5;
  z-index: -1; /* Behind the text */
  border-radius: inherit;
}

/* Hover effect */
.swiper_heritage .swiper-slide:hover .heritage_text_hover {
  opacity: 1; /* Show text */
  transform: translateY(0); /* Bring text up */
}

/* Shop by Look */
.swiper_shop_by_look .swiper-slide-active img {
  filter: blur(0); /* Remove blur from the center slide */
  transform: scale(1.3); /* Increases size by 1.5 times */
}

.background-color-DarkBlue {
  background-color: #052659;
}
/* Shop by Budject */
.shop_by_budjet {
  background: linear-gradient(to right, #ffffff 33.38%, #def5fe 73.52%);
}
.category_box_color {
  background: linear-gradient(360deg, #de668b 0%, #ffb8ce 127.27%);
}
.swiper_shop_by_look .swiper-slide img {
  height: 100%;
}
.heritage_by_aayra_img_container img {
  max-width: 500px;
  height: auto;
}
/* Shop by look */

.sub_swiper_shop_by_look {
  max-height: 500px;
  box-sizing: border-box;
}

.sub_swiper_shop_by_look .swiper-slide img {
  transform: scale(0.8);
}
.sub_swiper_shop_by_look .swiper-slide-active img {
  transform: scale(1);
}

.sub_swiper_shop_by_look .swiper-slide-thumb-active {
  opacity: 1;
}
.scroll_container {
  overflow-x: auto;      /* Enables horizontal scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}

.scroll_container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}


@media (max-width: 767px) {
  .heritage_by_aayra_img_container,
  .heritage_text_hover img {
    max-width: 300px;
    height: auto;
  }
  .shop_by_budjet_img img{
    max-width: 280px;
  }
  .experience_wuth_aayra_img img{
    max-width: 200px;
  }
  .Shop_by_look_big_img img{
    max-width: 300px;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
}
