*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.pink-bg {
    background: linear-gradient(#de668b,#ffb8ce);
     border-radius: 0 0 18px 18px;
   }
   .blue-bg {
     background: linear-gradient(#052659,#5a9bff);
      border-radius: 0 0 18px 18px;
      opacity: 0.9;
    }
.background-image{
    background-image: url(assets/Shop_by_category/category_img_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width:330px;
    border-radius: 20px;

}
.background-image8{
    background-image: url(assets/Shop_by_category/category_img_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width:330px;
    border-radius: 20px;

}

.background-image1{
    background-image: url(assets/Shop_by_category/category_img_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    width:330px;
    border-radius: 20px;

}
.background-image2{
    background-image: url(assets/Shop_by_category/category_img_4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:203px;
    width:330px;
    border-radius: 20px;

}
.background-image3{
    background-image: url(assets/Shop_by_category/category_img_6.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    width:330px;
    border-radius: 20px;
}
.background-image4{
    background-image: url(assets/Shop_by_category/category_img_7.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    width:330px;
    border-radius: 20px;
}
.background-image5{
    background-image: url(assets/Shop_by_category/category_img_9.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    width:330px;
    border-radius: 20px;
}
.background-image6{
    background-image: url(assets/Shop_by_category/category_img_4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    width:330px;
    border-radius: 20px;

}
.background-image9{
    background-image: url(assets/Shop_by_category/category_img_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    width:330px;
    border-radius: 20px;

}
.background-image7{
    background-image: url(assets/Shop_by_category/category_img_5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:203px;
    width:330px;
    border-radius: 20px;

}
.background-image10{
    background: url(assets/Shop_by_category/category_img_8.png) no-repeat;
    background-position: center;
    background-size: cover;
    height:203px;
    width:330px;
    border-radius: 20px;

}
.video-background1{
        background: url(assets/Video_call/live.png) no-repeat;
        width: 100% !important;
        height: 60vh !important; 
        background-size: cover;
        background-position: center;

} 



/* .container-customize{
    width: 99%;
} */
#mySwipers {
    width: 100%;
    height: 100%;
  }

  #sider-1{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   #sider-1 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* .video-background1 {
    width: 100%;
    height: 300px; 
    background-image: url('assets/Video_call/live.png'); 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  } */

  
  
